@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
    padding-top: 60px;
}

h2 {
    font-size: 24.5px;
}

#navbar-logo {
    color: #333;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
    font-family: 'Pacifico', cursive;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

#types-list h2 a {
    display: block;
    padding: 0;
    margin: 0;
}

#types-list h2:hover {
    background: #eee -webkit-linear-gradient(top, whiteSmoke, #ddd);
    background: #eee -moz-linear-gradient(top, whiteSmoke, #ddd);
    background: #eee -o-linear-gradient(top, whiteSmoke, #ddd);
    background: #eee -ms-linear-gradient(top, whiteSmoke, #ddd);
    background: #eee linear-gradient(top, whiteSmoke, #ddd);
    border-radius: 3px;
}

#login-form {
    width: 32em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    padding-top: 2ex;
}

#login-form h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
    margin-bottom: 1ex;
}

#login-form form,#login-form .form-actions {
    margin-bottom: 0;
}

#edit-table {
    margin-top: 20px;
}

#edit-table tr.asset-type td {
    background: #333 -webkit-linear-gradient(top, #333, #181818);
    background: #333 -moz-linear-gradient(top, #333, #181818);
    background: #333 -o-linear-gradient(top, #333, #181818);
    background: #333 -ms-linear-gradient(top, #333, #181818);
    background: #333 linear-gradient(top, #333, #181818);
    color: white;
}

#edit-table tr.asset-type:hover td {
    background: #383838 -webkit-linear-gradient(top, #383838, #222);
    background: #383838 -moz-linear-gradient(top, #383838, #222);
    background: #383838 -o-linear-gradient(top, #383838, #222);
    background: #383838 -ms-linear-gradient(top, #383838, #222);
    background: #383838 linear-gradient(top, #383838, #222);
    color: white;
}

#edit-table .actions {
    width: 10em;
}
