{% macro render_pagination(pagination, endpoint) %}
<div class="pagination pagination-centered">
    <ul>
        {%- if pagination.has_prev %}
        <li>
        <a href="{{ url_for(endpoint, page=pagination.prev_num) }}">«</a>
        </li>
        {%- else %}
        <li class="disabled">
        <a href="#">«</a>
        </li>
        {%- endif %}
        {%- for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <li>
        <a href="{{ url_for(endpoint, page=page) }}">
        {% else %}
        <li class="active">
        <a href="#">
        {% endif -%}
        {{ page }}</a>
        {% else %}
        <li>
        <a class="disabled" href="#">…</a>
        {% endif %}
        </li>
        {%- endfor %}
        {%- if pagination.has_next %}
        <li>
        <a href="{{ url_for(endpoint, page=pagination.next_num) }}">»</a>
        </li>
        {%- else %}
        <li class="disabled">
        <a href="#">»</a>
        </li>
        {%- endif %}
    </ul>
</div>
{% endmacro %}

{% macro render_field(field) %}
<div class="control-group">
    <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
    <div class="controls">{{ field(**kwargs)|safe }}
        {% if field.errors %}
        <div class="errors">
            {% for error in field.errors %}
            <p><span class="label label-important">{{ error }}</span></p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro submit_button(text='Submit', extra_classes='btn-primary') %}
<div class="form-actions">
    <button type="submit" class="btn {{extra_classes}}">{{text}}</button>
</div>
{% endmacro %}
