{% extends "lend_common.html" %}
{% block body %}
<div class="row-fluid">
    <div id="types-list" class="span8">
        {% for type in types %}
        <h2><a href="#" data-toggle="collapse" data-target="#assets-{{type.id}}">{{type.name}}</a></h2>
        <div class="collapse" id="assets-{{type.id}}">
            <table class="assets-table table table-bordered">
                <thead>
                    <tr><th>Name</th><th>Status</th><th>Action</th></tr>
                </thead>
                <tbody>
                    {% for asset in type.assets %}
                    <tr>
                        <td>{{asset.name}}</td>
                        {% if asset.available() %}
                        <td><span class="label label-success">Available</span></td>
                        <td><a href="{{url_for('lend_asset', asset_id=asset.id)}}" class="btn btn-mini btn-primary">
                                <i class="icon-share icon-white"></i>Lend</a>
                        </td>
                        {% else %}
                        <td>
                            {% if asset.overdue() %}
                            <span class="label label-important">Overdue</span>
                            {% else %}

                            <span class="label label-info">Unavailable</span>
                            {% endif %}
                            ({{asset.lended_to_name()}})
                        </td>
                        <td>
                            <a href="{{url_for('return_asset', asset_id=asset.id)}}" class="btn btn-mini btn-primary">
                                <i class="icon-check icon-white"></i>Return</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <div id="sidebar" class="span4">
        <div id="overdue">
            <h2>Overdue</h2>
            {% for asset in overdue_assets %}
            <p>
            <a href="{{url_for('return_asset', asset_id=asset.id)}}" class="btn btn-mini btn-primary">
                <i class="icon-check icon-white"></i>Return</a>
            <strong>{{asset.name}}</strong> - 
            <em>{{asset.type.name}}</em> ({{asset.lended_to_name()}}) 
            </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
