{% extends "layout.html" %}
{% block title %} — Lending {% endblock %}
{% block body %}
<div class="page-header">
    <h1>Lending</h1>
</div>
<div class="row-fluid">
    <div id="types-list" class="span8">
        {% for type in types %}
        <h2><a href="#" data-toggle="collapse" data-target="#assets-{{type.id}}">{{type.description}}</a></h2>
        <ul class="assets-list collapse" id="assets-{{type.id}}">
            {% for asset in type.assets %}
            <li>{{asset.name}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div id="sidebar" class="span4">
        sidebar!
    </div>
</div>
{% endblock %}
