{% import "macros.html" as m %}
{% extends "layout.html" %}
{% block title %} — Log {% endblock %}
{% block navigation %}
<li><a href="{{ url_for('show_assets') }}">Lend</a></li>
<li class=""><a href="{{ url_for('show_assets_for_edit') }}">Edit</a></li>
<li class="active"><a href="{{ url_for('show_log', page = 1)}}">View Log</a></li>
{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span12">
        <table class="log-table table">
            <thead>
                <tr>
                    <th><i class="icon-time"></i>Time</th>
                    <th><i class="icon-share-alt"></i>Action</th>
                    <th><i class="icon-asterisk"></i>Asset</th>
                    <th><i class="icon-user"></i>User</th>
                    <th><i class="icon-eye-open"></i>Action by</th>
                </tr>
            </thead>
            <tbody>
                {% for log in pagination.items %}
                <tr>
                    <td>{{log.time.strftime('%a %d-%b-%y %H:%M:%S')}}</td>
                    <td>
                        {%- if log.action == 'lend' -%}
                        <i class="icon-share"></i>Lend
                        {%- else -%}
                        {%- if log.return_status and not log.return_status == 'regular' -%}
                        <i class="icon-warning-sign"></i>Return ({{log.return_status}})
                        {%- else -%}
                        <i class="icon-check"></i>Return
                        {%- endif -%}
                        {%- endif -%}
                    </td>
                    <td>{{log.asset.name}}</td>
                    <td>{{log.lended_to_name()}}</td>
                    <td>{{log.action_by}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ m.render_pagination(pagination, 'show_log') }}
    </div>
</div>
{% endblock %}

